.slide_container {
   display: flex;
   align-items: center;
   justify-content: center;
}
.slide{
   width: 100%;
   height: 300px;
 }
 .slide_img > img {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 350px;
 }
 section{
    margin: 0 auto;
    width: 80%;
    background-color: aliceblue;
    height: 150vh;
 }
 section div{
    margin: 0 auto;
    width: 80%;
    height: 30vh;
    background-color: aqua; 
 }
.sectionOne{

}
.communityImg{
   
}
.communityBanner{
   display: ;
   width: 60%;
   background-color: #10E195;
}