  .header_container {
    background-color:white;
}
  .header_navbar a{
    margin-left:50px;
    padding: 20px;
  }
  .header_navbar a:hover{
    color:rgb(16, 247, 0);
  }
  .ms-auto img{
    margin-left:-40px;
  }