.Product {
    width: 1000px;
    height: auto;
  }
  #Product_box{
    border: 1px solid rgb(205, 205, 205);
    box-shadow : 2px 2px 2px 2px rgb(217, 217, 217) ;
    border-radius: 20px;  
    margin: 20px;
  }
  #Product_img{
    width: 180px;
    margin-top: 15px;
    border-radius: 10px;  
  }
  #Product_group{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Product_body{
    text-align: left;
    margin-left:20px;
  }
  #Product_title{
    float:left;
    font-size: 20px;
  }
  #Product_content{
    display: inline-block;
    margin-left: 10px;
  }
  #Product_percent{
    float:left;
    font-size: 18px;
    color:red;
    font-weight: bold;
  }
  #Product_price{
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  #btn_star {
    color:orange;
    float:left;
    margin-top:5px;
    margin-left:10px;
    font-size: 18px;
  }
  #btn_review {
    color:black;
    float:left;
    margin-top:9px;
    margin-left:15px;
    font-weight: 500;
    font-size: 13px;
  }
  #btn-success {
    text-align:right;
    background: none;
  }
  .btn-success{
    background-color: #2BBD7C;
    color:black;
  }
  
  