.modify {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modify_container {
    width: 40%;
    height:700px;
    border: 1px solid #2BBD7C;
    border-radius: 5%;
    margin-bottom: 30px;
}
.modify_container h2 {
    margin:20px;
}

.fileInputFrame  {
    display: inline-block;
    height: 150px;
    width: 150px;
    border:1px solid #2BBD7C;
    border-radius: 50%;
    margin:20px;
    overflow: hidden;
}
.uploadedImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%; 
}

.modify_container p{
    padding:5px;
    margin:15px;
    width: 300px;
    display: inline-block;
    font-weight: 500;
}
.modify_container input {
    border:none;
    width: 200px;
    padding:3px;
    margin-left: 20px;
}
.modify_container #address_search{
    border:none;
    width: 60px;
    padding:5px;
}
.modify_container #address_info {
    width: 450px;  
}
.modify_container #address_info input {
    margin:10px;
}
.modify_btn {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border:1px solid #2BBD7C;
    background-color: #2BBD7C;
}
.address_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

#user_info {
   margin-right: 80px;
}
#address_info input {
    margin-left:75px;
}
#address_num {
    width: 300px;    
}
#address_name {
    width: 360px;
}
#address_search {
    margin:3px;
}