@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.error404_container{
    text-align: center;
    width:100%;
    height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.error404 h1 {
    font-size: 100px;
    font-family: 'CWDangamAsac-Bold';
    color:#10E195;
    margin-bottom:30px;
}
.error404 p {
    font-size:26px;
    color:#888888;
    font-weight: 500;
}

